<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="Calc Div EFTX"
    Manufacturer="EFTX"
    Version="1.3.1"
    UpgradeCode="{3F799FC2-3D5E-425A-9530-6E3C8F5A8D0F}"
    InstallerVersion="500"
    Compressed="yes"
    Scope="perMachine">

    <MediaTemplate EmbedCab="yes" />

    <MajorUpgrade AllowDowngrades="yes" />

    <Icon Id="AppIcon" SourceFile="icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <Property Id="INSTALLLEVEL" Value="100" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="ui_banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="ui_dialog.bmp" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLROOT" Name="EFTX">
        <Directory Id="INSTALLFOLDER" Name="CalcDivEFTX" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="AppProgramMenuFolder" Name="Calc Div EFTX" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="CmpShortcutStartMenu" Guid="*">
        <Shortcut
          Id="StartMenuShortcut"
          Directory="AppProgramMenuFolder"
          Name="Calc Div EFTX"
          Description="Abrir Calc Div EFTX"
          Target="[INSTALLFOLDER]Calc_Div_EFTX.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveAppProgramMenuFolder" Directory="AppProgramMenuFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\EFTX\CalcDivEFTX" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <Component Id="CmpShortcutDesktop" Guid="*">
        <Shortcut
          Id="DesktopShortcut"
          Directory="DesktopFolder"
          Name="Calc Div EFTX"
          Description="Abrir Calc Div EFTX"
          Target="[INSTALLFOLDER]Calc_Div_EFTX.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\EFTX\CalcDivEFTX" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="FeatMain" Title="Aplicacao" Level="1">
      <ComponentGroupRef Id="AppComponentsCalcDiv" />
    </Feature>

    <Feature Id="FeatStartMenu" Title="Atalho no Menu Iniciar" Level="1">
      <ComponentRef Id="CmpShortcutStartMenu" />
    </Feature>

    <Feature Id="FeatDesktop" Title="Atalho na Area de Trabalho" Level="1">
      <ComponentRef Id="CmpShortcutDesktop" />
    </Feature>

    <UI>
      <ui:WixUI Id="WixUI_FeatureTree" />
    </UI>
  </Package>
</Wix>
